@import url(reset.css);
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Baloo|Nunito|Dancing+Script|Racing+Sans+One|Caveat|Inter');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
  font-weight: 300;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 30px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px;
  padding: 40px 30px;
  background-color: #f1ede6;
  transition: all 0.5s ease;
  z-index: 100;
}

/* logo style */
.logo {
  font-size: 40px;
  font-weight: 800;
}

b {
  color: #e04343;
}

/* navigation style */
.nav-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-menu ul {
  display: flex;
  list-style: none;
}

.nav-menu ul li {
  margin-right: 50px;
}

/* toggle button style*/
input[type='checkbox'] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 100;
  cursor: pointer;
}

#toggle-btn {
  position: relative;
  width: 72px;
  height: 37px;
  border-radius: 40px;
  margin-right: 30px;
}

#toggle-btn span {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  opacity: 1;
  background-color: #fff;
  border-radius: 40px;
  transition: 0.2s ease background-color, 0.2s ease opacity;
}

#toggle-btn span:before,
#toggle-btn span:after {
  content: '';
  position: absolute;
  top: 4px;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  transition: 0.5s ease transform, 0.2s ease background-color;
}

#toggle-btn span:before {
  background-color: #fff;
  transform: translate(15px, -10px);
  z-index: 1;
}

#toggle-btn span:after {
  background-color: #000;
  transform: translate(4px, 0px);
  z-index: 0;
}

#toggle-btn input[type='checkbox']:checked + span {
  background-color: #000;
}

#toggle-btn input[type='checkbox']:active + span {
  opacity: 0.5;
}

#toggle-btn input[type='checkbox']:checked + span:before {
  background-color: #000;
  transform: translate(68px, 0);
}

#toggle-btn input[type='checkbox']:checked + span:after {
  background-color: #fff;
  transform: translate(38px, 0px);
}

/* hover text style */
.txt-line-effect {
  background-image: linear-gradient(180deg, transparent 55%, rgb(170 170 170 / 0.5) 0);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s ease;
}

.txt-line-effect:hover {
  background-size: 100% 100%;
  transition: all 0.5s;
}

.active {
  background-size: 100%;
}

/* Main Page - HOME*/
#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.intro-txt {
  width: 50%;
  text-align: center;
}

.animate-flow {
  position: relative;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 80px;
  letter-spacing: 1px;
}

.animate-flow .txt-wrap {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.animate-flow .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}

.intro-txt p:last-child {
  border-top: 1px solid #aaa;
  padding-top: 20px;
  display: inline-block;
  margin-top: 25px;
}

/* animate - bouncing */

.arrow {
  position: absolute;
  bottom: 8%;
  transform: translateX(-50%);
  font-size: 10px;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.arrow + p {
  position: absolute;
  bottom: 5%;
  font-size: 15px;
  letter-spacing: -1px;
}

/* Main Page - common */
section {
  width: 100%;
  padding: 150px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1300px) {
  .container {
    /* max-width: 960px; */
    padding: 0 3rem;
  }
}

.title {
  text-align: center;
  font-size: 50px;
}

.title span {
  font-weight: 700;
}

.content-header {
  margin-bottom: 50px;
}

.content-header > p {
  margin-top: 40px;
  font-size: 22px;
  text-align: center;
  letter-spacing: -0.7px;
}

.content-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.col {
  width: 33.33%;
  padding: 0.75rem;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .col {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .col {
    width: 100%;
  }
}

img {
  max-width: 100%;
  height: auto;
}

/* Main Page - ABOUT ME */
#aboutme {
}

#aboutme .content-wrap > div:nth-child(1) {
  width: 40%;
}

#aboutme .content-wrap > div:nth-child(2) {
  width: 60%;
}

.profile-l {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quotes {
  width: 200px;
  position: absolute;
  top: 130px;
  right: 0;
  z-index: 10;
}

.quotes > span {
  display: block;
  font-family: 'sans-serif';
  font-weight: bold;
  font-size: 40px;
  color: rgb(255 255 255 / 80%);
  font-style: italic;
  letter-spacing: -3px;
  padding-bottom: 2px;
  /* opacity: 0.7; */
  text-shadow: 0 5px 7px #aaa;
}

.quotes > span:nth-child(2) {
  position: relative;
  margin-top: -10px;
  text-align: right;
}

.img-wrap {
  width: 400px;
  height: 400px;
  border-radius: 50% 40% 40% 70% / 60% 60% 50% 40%;
  /* border-radius: 60% 50% 40% 70% / 60% 30% 50% 40%; */
  overflow: hidden;
}

.info {
  position: relative;
  margin-top: 40px;
  padding-top: 30px;
  margin-left: 10px;
  text-align: center;
}

.info::before {
  content: '';
  background-color: #aaa;
  width: 20px;
  height: 2px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.info h3 {
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

/* Main Page - PORTFOLIO */
#project {
  /* background-color: #f2f2f2; */
}

#project .content-wrap {
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* portfolio tab style */
#myTab {
  width: 100%;
}

/* Tab Btn */
.tab-btn {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-btn li {
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}
.tab-btn li + li {
  margin-left: 40px;
}
.tab-btn li:hover {
}

.tab-btn li.active {
}

/* Tab Content */

.tabcontent-wrap {
  padding-top: 50px;
  opacity: 1;
  overflow: hidden;
}

.tabcontent {
  display: none;
  overflow: hidden;
  flex-wrap: wrap;
}

.tabcontent.active {
  display: flex;
}

.tabcontent .col {
  animation: fadeEffect 0.6s ease;
}

/* Text*/
@keyframes fadeEffect {
  from {
    opacity: 0;
    margin-top: 30px;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}

.project-box {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 360px;
  margin: 0 auto 2em;
  background-color: #000;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
  border-radius: 21px;
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.project-box:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
  transform: translateY(-5px);
}

.project-box figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50%;
  opacity: 0.97;
  background-color: #f7f7f7;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .project-box:hover figcaption {
  height: 100%;
} */

.project-name {
  font-size: 22px;
  margin: 13px 0 20px;
  padding-bottom: 15px;
  font-weight: 500;
  text-align: center;
  position: relative;
}

.project-name:after {
  content: '';
  background-color: #aaa;
  width: 50px;
  height: 1px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.border-btn {
  margin: 0 auto;
  font-size: 17px;
  border-radius: 30px;
  border: 1px solid #c3b6a2;
  text-align: center;
  padding: 12px 18px;
  color: #888;
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.border-btn:hover {
  opacity: 1;
}

.project-box figcaption a {
}

.tags {
  display: flex;
  justify-items: center;
  align-content: center;
  margin: 0 auto;
}

.tags li {
  font-size: 15px;
  margin-right: 10px;
  background-image: linear-gradient(180deg, transparent 45%, rgb(170 170 170 / 0.4) 0);
}

/* Main Page - BLOG*/
#blog {
}

#blog .col {
}

.box {
  /* border-radius: 10px; */
  /* border: 1px solid #e6ecf8; */
  height: 100%;
  /* box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8; */
}

.blog-post {
  box-sizing: border-box;
}

.col:last-child .blog-post {
  border-right: none;
  border-bottom: none;
}

.blog-post img {
  width: 100%;
  height: 190px;
}

.blog-post .txt-wrap {
  margin: 35px 0 20px;
  padding: 0 5px;
  height: 190px;
}

.blog-post .txt-wrap h3 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.blog-post .txt-wrap span {
  display: block;
  font-size: 15px;
  margin-bottom: 15px;
  font-weight: 400;
  color: #aaa;
}

.blog-post .txt-wrap p {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5px;
}

.img-scaled {
  overflow: hidden;
  height: auto;
}

.img-scaled img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.img-scaled:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.blog-post .img-scaled {
  height: 190px;
}

.more-btn {
  font-size: 20px;
  background-image: linear-gradient(180deg, transparent 45%, rgb(170 170 170 / 0.5) 0);
  background-size: 100% 100%;
}

@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
}
@media screen and (max-width: 767px) {
}

.fade-in {
  animation: fadeInUp 0.7s;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

footer {
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #f1f1f1;
  height: 20vh;
}

i {
  font-size: 30px;
  padding: 0 30px;
}

.tools {
  padding: 0 10px;
}

.social-media:hover {
  transform: scale(1.1);
  transition: all 0.4s;
  cursor: pointer;
}

.social-media {
  font-size: 30px;
  padding: 0 30px;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    visibility: hidden;
    /*-webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);*/
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }

  to {
    opacity: 1;
    visibility: visible;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    visibility: hidden;
    /*-webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);*/
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }

  to {
    visibility: visible;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/* theme toggle style */
.theme {
  color: #2f2a2f;
  /* background-color: #f1ede6; */
  transition: all 0.5s ease;
}
body {
  transition: all 0.5s ease;
}
section {
  background-color: #f1ede6;
}
.dark-all {
  color: #c3b6a2;
}
.dark-bg-1 {
  background-color: #232b32;
}
.dark-bg-2 {
  background-color: #21282d !important;
}
.dark-bg-footer {
  background-color: #13171b;
}

.dark-color {
  color: #c3b6a2;
}
.dark-p-color {
  color: #aaa;
}
.dark-img-opacity {
  opacity: 0.8;
}
.dark-project-box {
  background-color: #292e32 !important;
}
.section {
  background-color: #ede8df;
}
